body {
    height: 100%;
    width: 100%;
}

.gridContainer {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 50px;
}

.gridContainer div {
    height: 50px;
    width: 50px;
    border: 1px solid black;
}