body {
    height: 100%;
    width: 100%;
}

button {
    width: 80px;
    border-radius: 10px;
}

.pageName {
    text-align: center;
    margin: 2px;
    padding: auto;
}

.gridContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.colorType {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
#resetGrid {
    display: flex;
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: auto;
}


/*
#onlyBlack {
    background-color: black;
    color: white;
}
#GrayScale {
    background-color: gray;
    color: silver;
}
#eraseColor {
    background-color: white;
    color: black;
}
#randomColor {
    background-color: silver;
    color: gray;
} */